// PARAMS NEEDED FOR FULL PIPELINE
params.read1 = null               // The un-demultiplexed fastq.gz file (R1)
params.read2 = null               // The un-demultiplexed fastq.gz file (R1)


// WORKFLOW DEFAULTS
params.samples = "Samples.txt"
params.finalDir = "analysis"      // name of the directory to which the non-temp results files are "published"
params.mapNumCpu = 12
params.mem = 5000 

params.runextractFastq = false
params.runfastq2bam = true
params.runfastqc = true
params.runMutect = true
params.runMutect2 = true
params.runVarscan2 = true
params.runSomaticsniper = true
params.runVardict = true
params.runMuse = true
params.runJointsnvmix2 = true
params.runLofreq = true
params.runScalpel = true
params.runStrelka = true
params.runSomaticseq = true
params.runSomaticseq_train = true

// GENERAL PRELOAD VARIABLES
params.inputdir = null            // path to dir containing the preload files (unnecessary if all of the following params are individually specified)
params.reference = "/sc1/groups/bfx-red/data/datainsights/SEQC2_Resources/GRCh38.d1.vd1.fa"
params.dbSNP = "/sc1/groups/bfx-red/data/datainsights/SEQC2_Resources/dbSNP/dbsnp_146.hg38.vcf.gz"

\\\\\\\\\ containers \\\\\\\\\\\\\\\\\\\
params.containers["gatk3"]= "broadinstitute/gatk3:3.7-0"
params.containers["strelka"]= "lethalfang/strelka:2.8.4"
params.containers["samtools"]= "lethalfang/samtools:0.1.19"
params.containers["vardict"]= "lethalfang/vardictjava:1.5.1"
params.containers["somaticsniper"]= "lethalfang/somaticsniper:1.0.5.0-2"
params.containers["scalpel"]= "lethalfang/scalpel:0.5.3-1"
params.containers["mutect2"]= "broadinstitute/gatk:4.0.0.0"
params.containers["muse"]= "marghoob/muse:1.0rc_c"
params.containers["lofreq"]= "lethalfang/lofreq:2.1.3.1"
params.containers["jointsnvmix2"]= "lethalfang/jointsnvmix2:0.7.5"
params.containers["somaticseq"]= "lethalfang/somaticseq:2.7.0"
params.containers["bwa"]= "lethalfang/bwa:0.7.15_samtools"
params.containers["picard"]= "lethalfang/picard:2.10.10"