includeConfig 'versions.config'
includeConfig 'defaults.config'
includeConfig 'ctdna-env.config'

trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,container,status,exit,start,realtime,%cpu,rss,hash,native_id,process,tag,module,attempt,submit,complete,duration,%mem,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
    raw = true
}

timeline {
    enabled = true
    file = 'pipeline_timeline.html'
}

profiles {

  RSS {
    params.registryHost = 'rssregistry.roche.com:5001/'
    docker.enabled = true
    process.executor = 'sge'
    process.queue = 'all.q'
    process.penv = 'smp'
    process.clusterOptions = '-S /bin/bash -l docker_version=new'
  }

  RSS {
    params.registryHost = ''
    docker.enabled = true
    process.executor = 'sge'
    process.penv = 'smp'
    process.clusterOptions = '-S /bin/bash'
  }

}

docker.runOptions = "-u=\$UID --rm"